<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


		<context:component-scan base-package="com.jimmie.test.akka.spring"/>
		
		<!-- AKKA System Setup -->  
		<bean id="actorSystem" class="akka.actor.ActorSystem" factory-method="create" destroy-method="shutdown" scope="singleton">  
			<constructor-arg value="helloAkkaSystem"  type="java.lang.String"/>  
			<constructor-arg ref="akkaConfig"  type="com.typesafe.config.Config"/>
		</bean>
		
		<bean id="akkaConfig" class="com.typesafe.config.ConfigFactory" factory-method="load">
			<constructor-arg value="application.conf"  type="java.lang.String"/>  
		</bean> 

</beans>